<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-flashlight"
        version="1.0.1">

  <name>flashlight</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/flashlight.js" name="flashlight">
     <clobbers target="flashlight" />
  </js-module>

  <platform name="android">


	<config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.CAMERA" />
	  <uses-permission android:name="android.permission.FLASHLIGHT" />
    </config-file>
	
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="flashlight">
        <param name="android-package" value="de.mopsdom.flashlight.flashlight"/>
		<!--param name="onload" value="true"/-->
      </feature>
    </config-file>

    <source-file src="src/android/flashlight.java" target-dir="src/de/mopsdom/flashlight"/>

  </platform>


</plugin>